version: '3.7'

#remmeber to set following in environment variables of os or bash:
# set DOCKER_BUILDKIT=1
# set COMPOSE_DOCKER_CLI_BUILD=1
# run this with following instruction:
# docker-compose up --build

x-common-env: &common-env
  SPRING.CONFIG.IMPORT: optional:configserver:http://config-server:8888
  SPRING_CACHE_TYPE: redis
  SPRING_CACHE_HOST: infra_redis
  SPRING_CACHE_PORT: 6379
  #SPRING_CACHE_REDIS_TIME_TO_LIVE: 60000
  SERVER_SERVLET_SESSION_TIMEOUT: 60m

  SECURITY_AUTH_TYPE: keycloak
  SECURITY_AUTHSERVER_AUTHORIZATION_URL: http://infra_keycloak:4080/realms/thingsorganizerrealm/protocol/openid-connect/auth
  SECURITY_AUTHSERVER_TOKEN_URL: http://infra_keycloak:4080/realms/thingsorganizerrealm/protocol/openid-connect/token
  SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://infra_keycloak:4080/realms/thingsorganizerrealm/protocol/openid-connect/certs

services:
  config-server:
    image: bhrfkhr/config-server:1.0.0
    deploy:
      resources:
        limits:
          memory: 700m
    build:
      context: .
      dockerfile: config-server/Dockerfile
    volumes:
      - ~/.m2:/root/.m2
    ports:
      - "8888:8888"
    networks:
      - thing-organizer-network
      - infra-network
    environment:
      <<: *common-env
      EUREKA_INSTANCE_HOSTNAME: config-server

  naming-server:
    image: bhrfkhr/naming-server:1.0.0
    deploy:
      resources:
        limits:
          memory: 700m
    build:
      context: .
      dockerfile: naming-server/Dockerfile
    volumes:
      - ~/.m2:/root/.m2
    ports:
      - "8761:8761"
    networks:
      - thing-organizer-network
      - infra-network
    depends_on:
      - config-server
    environment:
      <<: *common-env
      EUREKA_INSTANCE_HOSTNAME: naming-server

  api-gateway:
    image: bhrfkhr/api-gateway:1.0.0
    deploy:
      resources:
        limits:
          memory: 700m
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    volumes:
      - ~/.m2:/root/.m2
    ports:
      - "8765:8765"
    networks:
      - thing-organizer-network
      - infra-network
    depends_on:
      - config-server
      - naming-server
      - security
      - thing
      - content
    environment:
      <<: *common-env
      EUREKA.CLIENT.SERVICEURL.DEFAULTZONE: http://naming-server:8761/eureka
      EUREKA_INSTANCE_HOSTNAME: api-gateway
      SPRING_CLOUD_GATEWAY_ROUTES[0]_URI: http://api-gateway:8765/security
      SPRING_CLOUD_GATEWAY_ROUTES[0]_PREDICATES[0]: Path=/security/api-docs
      SPRING_CLOUD_GATEWAY_ROUTES[0]_PREDICATES[1]: Method=GET
      SPRING_CLOUD_GATEWAY_ROUTES[1]_URI: http://api-gateway:8765/thing
      SPRING_CLOUD_GATEWAY_ROUTES[1]_PREDICATES[0]: Path=/thing/api-docs
      SPRING_CLOUD_GATEWAY_ROUTES[1]_PREDICATES[1]: Method=GET
      SPRING_CLOUD_GATEWAY_ROUTES[2]_URI: http://api-gateway:8765/content
      SPRING_CLOUD_GATEWAY_ROUTES[2]_PREDICATES[0]: Path=/content/api-docs
      SPRING_CLOUD_GATEWAY_ROUTES[2]_PREDICATES[1]: Method=GET

  security:
    image: bhrfkhr/things-organizer-security:1.0.0
    deploy:
      resources:
        limits:
          memory: 700m
    build:
      context: .
      dockerfile: security/Dockerfile
    volumes:
      - ~/.m2:/root/.m2
    ports:
      - "8990:8990"
    networks:
      - thing-organizer-network
      - infra-network
    depends_on:
      - config-server
      - naming-server
    environment:
      <<: *common-env
      EUREKA.CLIENT.SERVICEURL.DEFAULTZONE: http://naming-server:8761/eureka
      EUREKA_INSTANCE_HOSTNAME: security
      SPRING_DATASOURCE_URL: jdbc:sqlserver://host.docker.internal:1433;databaseName=things-organizer;encrypt=true;trustServerCertificate=true;
      SPRING_DATASOURCE_USERNAME: sa
      SPRING_DATASOURCE_PASSWORD: fakhr
      OPENAPI.SERVER.GATEWAY.URL: http://api-gateway:8765/security
      OPENAPI.SERVER.LOCAL.URL: http://security:9091

  thing:
    image: bhrfkhr/things-organizer-thing:1.0.0
    deploy:
      resources:
        limits:
          memory: 700m
    build:
      context: .
      dockerfile: thing/Dockerfile
    volumes:
      - ~/.m2:/root/.m2
    ports:
      - "9091:9091"
    networks:
      - thing-organizer-network
      - infra-network
    depends_on:
      - config-server
      - naming-server
    environment:
      <<: *common-env
      EUREKA.CLIENT.SERVICEURL.DEFAULTZONE: http://naming-server:8761/eureka
      EUREKA_INSTANCE_HOSTNAME: thing
      SPRING_DATASOURCE_URL: jdbc:sqlserver://host.docker.internal:1433;databaseName=things-organizer;encrypt=true;trustServerCertificate=true;
      SPRING_DATASOURCE_USERNAME: sa
      SPRING_DATASOURCE_PASSWORD: fakhr
      OPENAPI.SERVER.GATEWAY.URL: http://api-gateway:8765/thing
      OPENAPI.SERVER.LOCAL.URL: http://thing:9091

  content:
    image: bhrfkhr/things-organizer-content:1.0.0
    deploy:
      resources:
        limits:
          memory: 700m
    build:
      context: .
      dockerfile: content/Dockerfile
    volumes:
      - ~/.m2:/root/.m2
    ports:
      - "9092:9092"
    networks:
      - thing-organizer-network
      - infra-network
    depends_on:
      - config-server
      - naming-server
    environment:
      <<: *common-env
      EUREKA.CLIENT.SERVICEURL.DEFAULTZONE: http://naming-server:8761/eureka
      EUREKA_INSTANCE_HOSTNAME: content
      SPRING_DATASOURCE_URL: jdbc:sqlserver://host.docker.internal:1433;databaseName=things-organizer;encrypt=true;trustServerCertificate=true;
      SPRING_DATASOURCE_USERNAME: sa
      SPRING_DATASOURCE_PASSWORD: fakhr
      SPRING_DATA_MONGODB_URI: mongodb://host.docker.internal:27017/things-organizer
      OPENAPI.SERVER.GATEWAY.URL: http://api-gateway:8765/content
      OPENAPI.SERVER.LOCAL.URL: http://content:9091

networks:
  infra-network:
    external: true
  thing-organizer-network:
    driver: bridge
